RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^.*IDMan.*$ [NC]
RewriteRule .* - [F,L]

# Additional security headers
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set Content-Security-Policy "frame-ancestors 'self'"
